<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h2 th:text="'Usuario: '+${usuario.nombre}" class="text-center my-4 border border-1 border-secondary rounded-pill"></h2>
	
		<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Nivel</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pokemon: ${pokemones}">
							<td th:text="${pokemon.id}"></td>
							<td th:text="${pokemon.pokemon.nombre}"></td>
							<td th:text="${pokemon.pokemon.nivel}"></td>				
						</tr>
					</tbody>
				</table>
				</div>
</body>
</html>