<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<meta charset="UTF-8" />
<title>Proyecto Certant</title>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/app/listar}">Certant</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" th:href="@{/app/listar}">Listar
							<span class="sr-only"></span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/agregar}">Agregar Pokemon</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/usuario/1}">Mostrar pokemon user 1</a>
					</li>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/app/usuario/2}">Mostrar pokemon user 2</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	</header>
	<div class="container"></div>
</body>
</html>