<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container mt-4">
		<form th:action="@{/app/agregar}" th:object="${pokemonModel}"
			method="post">

			<div class="form-group row">
				<label for="nombre" class="col-form-label col-sm-1">Nombre</label>
				<div class="col-sm-4 ml-3">
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="nivel" class="col-form-label col-sm-1">Nivel</label>
				<div class="col-sm-4 ml-3">
					<input type="number" id="nivel" th:field="*{nivel}"
						class="form-control">
				</div>
			</div>

			<div class="form-group row px-3">
				<label for="tipos" class="col-form-label">Tipos</label>
				<div class="col-sm-4 px-4 mx-5">
					<select class="form-control" th:field="*{tipos}"
						multiple="multiple">
						<option th:each="tipo: ${listaTipos}" th:field="*{tipos}"
							th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
					</select>
				</div>
			</div>

			<div class="form-group row px-3">
				<label for="habilidades" class="col-form-label">Habilidades</label>
				<div class="col-sm-4 px-4 mx-1">
					<select class="form-control" th:field="*{habilidades}"
						multiple="multiple">
						<option th:each="habilidad: ${listaHabilidades}"
							th:field="*{habilidades}" th:value="${habilidad.id}"
							th:text="${habilidad.nombre}"></option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-4">
					<input type="submit" value="Enviar" class="btn btn-primary">
				</div>
			</div>
			<input type="hidden" th:field="*{id}">
		</form>
	</div>
</body>
</html>