<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
<table class="table">
					<thead>
						<tr>

							<th>Nombre</th>
							<th>Tipo</th>
							<th>Nivel para evolucionar</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="evolucion: ${evoluciones}">
							<td th:text="${evolucion.nombre}"></td>
							<td th:text="${evolucion.tipo}"></td>
							<td th:text="${evolucion.nivelEvolucion}"></td>
							
						</tr>
					</tbody>
				</table>
				</div>
</body>
</html>