<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Habilidad</th>
							<th>Descripcion</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="habilidad: ${habilidades}">
							<td th:text="${habilidad.id}"></td>
							<td th:text="${habilidad.habilidad.nombre}"></td>
							<td th:text="${habilidad.habilidad.descripcion}"></td>
							
						</tr>
					</tbody>
				</table>
			</div>
</body>
</html>