<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
<table class="table">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Nombre</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="tipo: ${tipos}">
							<td th:text="${tipo.id}"></td>
							<td th:text="${tipo.tipo.nombre}"></td>
						</tr>
					</tbody>
				</table>
				</div>
</body>
</html>